
.style {
    background-color: black;
    border-top: 1px solid #E7E7E7;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
}

.phantom {
    display: block;
    padding: 20px;
    height: 80px;
    width: 100%;
}